.page-index {
    position: relative;
    .create-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
.layout {
    padding-top: 5rem;
}
.patients-input-container {
    padding-left: 22rem;
    padding-top: 2rem;
}