@import "../../../index.scss";
.nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &-item {
        padding: 1.4rem;
        transition: $smooth;
        &:hover {
            // background-color: $primary-color;
            // color: #fff;
            color: $primary-color;
        }
        cursor: pointer;
    }
    &-login {
        background-color: $primary-color;
        border-radius: .4rem;
        cursor: pointer;
        padding: 1rem;
        color: #fff;
        margin-left: 1rem;
        border: 2px solid transparent;
        transition: $smooth;
        &:hover {
            background-color: #fff;
            color: $primary-color;
            border: 2px solid $primary-color;

        }
    }
    &-logo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        img {
            width: 6rem;
        }
    }
}